### IMPORT PACKAGES

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import datetime
from datetime import date
import numpy as np   
import pandas as pd
import re
import os
import json
from functions_cashflow_dataset import *
from prep_functions import *
from functions_cashflows_calculation import *
from functions_cashflow_for_transaction_action import *
from parameters import *
from investment_analysis import calculate_cashflow_benefit, calculate_roe, calculate_total_cashoutflow, calculate_annual_housing_cost, calculate_mortgage_payments_updated, calculate_equity_accumulation_update

# DEFINE INPUTS PARAMETERS

In [3]:
purchase_year = 1
house_value_t0 = 450000
horizon_year = 7
equity_contribution = 0
mortgage_rate = 0.045
loan_term = 30 
rent_amount= 1386 
energy_bills_rent = 120
rent_increase = 0.03
airbnb_net_yield = 0.001
tax_shield = 0.72
tax_shield_interest = 0.63
house_value_increase = 0.025
manteinance_cost = 2200
energy_bills_purchase = 200
service_cost = 150
ground_lease = 0
ground_lease_expiry = 30
purchase_cost_net = 8000
property_tax_percentage = 0.02
selling_cost_percentage = 0.02
discount_rate = 0.04
 
rent_out_gross_income = 1600
rent_out_operating_expense = 0.25
months_no_rent = 24
rent_out_income_tax_rate = 0.37

In [47]:
transactions = [{'action':'buy', 'year':1}, {'action':'sell', 'year':7}]                 

updated_parameters_dict = initial_parameters
updated_parameters_dict['horizon_year'] = 7
updated_parameters_dict['house_value_t0'] = 460000
updated_parameters_dict['house_value_increase'] = 0.02
updated_parameters_dict['equity_contribution'] = 0
updated_parameters_dict['manteinance_cost'] = 1000
updated_parameters_dict['mortgage_rate'] = 0.0405
updated_parameters_dict['service_cost'] = 159
updated_parameters_dict['ground_lease'] = 0
updated_parameters_dict['ground_lease_expiry'] = 1

evaluation_year = transactions[0]['year']+1
total_housing_cost = calculate_annual_housing_cost(transactions, updated_parameters_dict)
equity_accumulation_value = calculate_equity_accumulation_update(transactions, updated_parameters_dict)
real_cost_owing_house = total_housing_cost - equity_accumulation_value

print(f'The monthly housing cost of the purchase at year {evaluation_year}', calculate_annual_housing_cost(transactions, updated_parameters_dict))
print(f'The monthly mortgage payments of the purchase at year {evaluation_year}', calculate_mortgage_payments_updated(transactions, updated_parameters_dict))
print(f'The monthly equity accumulation of the purchase at year {evaluation_year}', calculate_equity_accumulation_update(transactions, updated_parameters_dict))
print(f'The monthly real cost (money not recovered) of owing an house purchased at year {evaluation_year-1}', real_cost_owing_house)
print('The overall cash ouflow is ', calculate_total_cashoutflow(transactions, updated_parameters_dict))
print('The overall cashflow benefit is ', calculate_cashflow_benefit(transactions, updated_parameters_dict))
print('The return on Equity is ', calculate_roe(transactions, updated_parameters_dict))

The monthly housing cost of the purchase at year 2 2141
The monthly mortgage payments of the purchase at year 2 1623
The monthly equity accumulation of the purchase at year 2 757
The monthly real cost (money not recovered) of owing an house purchased at year 1 1384
The overall cash ouflow is  -35389.0
The overall cashflow benefit is  84743.0
The return on Equity is  20.84

# EXPERIMENTING WITH AI

## CONNECTING TO THE LLM

In [ ]:
#IMPORTING OPENAI API

os.environ["OPENAI_API_KEY"] = "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"

client = OpenAI()

def query_llm(prompt):
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[{"role": "user", "content": prompt}],
        temperature=0,
        max_tokens=150,  # Adjust as necessary
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )
    return response.choices[0].message.content

In [23]:


prompt = """Please stremaline and improve the flow (but dod not alter the wording and tone signifcantly) of this paragraph: I firmly believe this role will be a significant step forward for my career. Indeed, I am excited to focus on highly desirable skills for quality officers such as deviations management and CAPAs. Moreover, I will also leverage some of my current strengths such as working with GMP Compliance. Finally, I am drawn by the possibility of design and implement process improvements"""

query_llm(prompt, model = 'gpt-4-turbo-preview')

NameError: name 'client' is not defined

In [19]:
prompt

NameError: name 'prompt' is not defined

## READ THE USER INPUT IN A STRUCTURED FORMAT

In [226]:
user_prompt = 'Calculate the annualized roe after 10 years if I buy a house in 1 year, rent out in 3 years and sell in 10 years, then buy again in 11 years and sell in 45 years'
def extract_transactions(user_prompt):
    adjusted_prompt = f"Please convert the following user request into a structured format of transactions: {user_prompt}. Format should be a list of python dictionary with the following structure action:action, year:year. Every action should be one word, use _ to rent and out"
    transactions = query_llm(adjusted_prompt)
    return transactions

### DEFINE FUNCTIONS

In [218]:
def calculate_roe_example(transactions, horizon_year=10):
    # Prepare your dataframe
    
    df_prepared = finalize_df_preparation(transactions)
    
# Now call the calculate_processed_df method on the processing_instance
    df_processed = processing_instance.calculate_processed_df(df_prepared)
    df_cashflow_attributed = apply_cashflow_attribution(df_processed)

    roe_result = calculate_roe(df = df_cashflow_attributed, horizon_year=horizon_year)

    return json.dumps({"roe_result": roe_result})

def calculate_cash_flow_benefit_example(transactions, horizon_year=10):
    df_prepared = finalize_df_preparation(transactions)

# Now call the calculate_processed_df method on the processing_instance
    df_processed = processing_instance.calculate_processed_df(df_prepared)
    df_cashflow_attributed = apply_cashflow_attribution(df_processed)

    cash_flow_benefit_result = calculate_cash_flow_benefit(df=df_cashflow_attributed,horizon_year=horizon_year)

    return json.dumps({"cash_flow_benefit_result": cash_flow_benefit_result})

In [236]:
def run_conversation():
    
    transactions = extract_transactions(user_prompt)

    # Convert transactions to JSON string for the OpenAI API
    transactions_json = json.dumps(transactions)

    # Step 1: send the conversation and available functions to the model
    messages = [{"role": "user", "content": user_prompt},
                {"role": "system", "content": f"Calculated transactions: {transactions_json}"}
    ]
    print(user_prompt)
    tools = [
    {
        "type": "function",
        "function": {
            "name": "calculate_roe_example",
            "description": "Calculate the annualized ROE of the given transactions.",
            "parameters": {
                "type": "object",
                "properties": {
                    "transactions": {
                        "type": "array",
                        "description": "Array of transaction dictionaries.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "action": {"type": "string"},
                                "year": {"type": "number"}
                            },
                            "required": ["action", "year"]
                        }
                    },
                    "horizon_year": {
                        "type": "number",
                        "description": "Investment horizon for the ROE calculation",
                        "default": 10  # Default value if not specified
                    }
                },
                "required": ["transactions"]
            }
        }
    }
    ]
    response = client.chat.completions.create(
        model="gpt-3.5-turbo-1106",
        messages=messages,
        tools=tools,
        tool_choice="auto",  # auto is default, but we'll be explicit
    )
    
    response_message = response.choices[0].message
    
    tool_calls = response_message.tool_calls
    
    # Step 2: check if the model wanted to call a function
    if tool_calls:
        # Step 3: call the function
        # Note: the JSON response may not always be valid; be sure to handle errors
        available_functions = {
            "calculate_roe_example": calculate_roe_example,
        }  # only one function in this example, but you can have multiple
        messages.append(response_message)  # extend conversation with assistant's reply
        # Step 4: send the info for each function call and function response to the model
        for tool_call in tool_calls:
            function_name = tool_call.function.name
            function_to_call = available_functions[function_name]
            function_args = json.loads(tool_call.function.arguments)
            function_response = function_to_call(
                transactions=function_args.get("transactions"),
                horizon_year=function_args.get("horizon_year"),
            )
            messages.append(
                {
                    "tool_call_id": tool_call.id,
                    "role": "tool",
                    "name": function_name,
                    "content": function_response,
                }
            )  # extend conversation with function response
        second_response = client.chat.completions.create(
            model="gpt-3.5-turbo-1106",
            messages=messages,
        )  # get a new response from the model where it can see the function response
        return second_response.choices[0].message.content
print(run_conversation())

Calculate the annualized roe after 10 years if I buy a house in 1 year, rent out in 3 years and sell in 10 years, then buy again in 11 years and sell in 45 years
[{'action': 'buy', 'year': 1}, {'action': 'rent_out', 'year': 3}, {'action': 'sell', 'year': 10}, {'action': 'buy', 'year': 11}, {'action': 'sell', 'year': 45}]
45
The annualized return on equity (ROE) over the 10-year horizon is approximately 7.13%.

## FUNCTION CALLING DEPENDING ON INPUT

In [1]:
[0*1]

[0]

## PARSING THE INPUT

In [175]:
def extract_transaction_dict (prompt):
    # Regex patterns to extract actions and years
    action_pattern = r"(buy|rent out|sell|stop rent out)"
    year_pattern = r"(\d+) (years|year)"

    # Find all matches in the response
    actions = re.findall(action_pattern, prompt, re.IGNORECASE)
    years = re.findall(year_pattern, prompt, re.IGNORECASE)
    print(actions)
    print(years)
    # Create transactions list
    transactions = []
    for action, year in zip(actions, years):
        transactions.append({'action': action, 'year': int(year[0])})

    return transactions

import re
import json

def parse_transactions(prompt):
    # Updated regex pattern to match the conversational structure of the prompt
    pattern = r"(buy a house in|rent out in|sell in)\s+(\d+)\s+years?"

    transactions = re.findall(pattern, prompt, re.IGNORECASE)

    # Convert to dictionary format
    action_mapping = {'buy a house in': 'buy', 'rent out in': 'rent_out', 'sell in': 'sell'}
    transactions_dict = [{'action': action_mapping[action], 'year': int(year)} for action, year in transactions]

    # Default value for first_year if not specified in the prompt
    first_year = 10  # Default to 10 years if not specified

    return transactions_dict, first_year

In [176]:
prompt = "Calculate the annualized roe after 10 years if I buy a house in 1 year, rent out in 3 years and sell in 10 years"
parse_transactions(prompt=prompt)

([{'action': 'buy', 'year': 1},
  {'action': 'rent_out', 'year': 3},
  {'action': 'sell', 'year': 10}],
 10)

# TESTING THE CODE

## INGESTING DATA

In [4]:
transactions = [{'action':'buy', 'year':1}, {'action':'sell', 'year':7}, {'action': 'buy', 'year':8}, {'action': 'sell', 'year':45}]



# Create an instance of CashFlowSimulator with the required arguments
parameter_ingestion_class_instance = CashFlowSimulator(purchase_year, house_value_t0, equity_contribution, mortgage_rate, loan_term, 
                 rent_amount, energy_bills_rent, rent_increase, airbnb_net_yield, 
                 tax_shield, tax_shield_interest, house_value_increase, 
                 manteinance_cost, energy_bills_purchase, service_cost, 
                 ground_lease, ground_lease_expiry, purchase_cost_net, 
                 property_tax_percentage, selling_cost_percentage, discount_rate,
                 rent_out_gross_income, rent_out_operating_expense, months_no_rent,
                 rent_out_income_tax_rate)

# Now create an instance of processing_dataframe
processing_instance = processing_dataframe(purchase_year, house_value_t0, equity_contribution, mortgage_rate, loan_term, 
                 rent_amount, energy_bills_rent, rent_increase, airbnb_net_yield, 
                 tax_shield, tax_shield_interest, house_value_increase, 
                 manteinance_cost, energy_bills_purchase, service_cost, 
                 ground_lease, ground_lease_expiry, purchase_cost_net, 
                 property_tax_percentage, selling_cost_percentage, discount_rate,
                 rent_out_gross_income, rent_out_operating_expense, months_no_rent,
                 rent_out_income_tax_rate)

# Prepare your dataframe
df_prepared = finalize_df_preparation(transactions)



# Now call the calculate_processed_df method on the processing_instance
df_processed = processing_instance.calculate_processed_df(df_prepared)
df_cashflow_attributed = apply_cashflow_attribution(df_processed)

print(df_cashflow_attributed['final_cashflow'][5:10].sum())
df_cashflow_attributed[['equity_accumulation', 'mortgage_payments', 'final_cashflow', 'house_value_over_years']][:10]

TypeError: __init__() missing 1 required positional argument: 'rent_out_income_tax_rate'

In [38]:
df_cashflow_attributed.columns

Index(['year', 'action', 'year_last_purchase', 'year_last_rent_out',
       'discount_rate', 'house_value_over_years', 'energy_bills',
       'service_costs', 'manteinance_cost', 'renting_out_income',
       'loss_rent_empty_house', 'airbnb_income', 'ground_lease_expenses',
       'rent_expenses', 'energy_bills_rent', 'purchase_costs', 'selling_costs',
       'mortgage_payments', 'interest_payments', 'equity_accumulation',
       'cash_flow_renting_out', 'renting_cashflow',
       'house_purchasing_cashflow', 'final_cashflow'],
      dtype='object')

In [33]:
horizon_year = 7

calculate_cash_flow_benefit_manual(transactions=transactions,processing_instance = processing_instance, horizon_year=horizon_year)

87664.0

In [31]:
df_cashflow_attributed

,year,action,year_last_purchase,year_last_rent_out,discount_rate,house_value_over_years,energy_bills,service_costs,manteinance_cost,renting_out_income,...,energy_bills_rent,purchase_costs,selling_costs,mortgage_payments,interest_payments,equity_accumulation,cash_flow_renting_out,renting_cashflow,house_purchasing_cashflow,final_cashflow
0,1,buy,1.0,NaN,0.961538,463500,2436,1827,2266,5224,...,1462,8120,0.0,20291,20528,7654.0,-15067,18593,34476,-15883.0
1,2,buy,1.0,NaN,0.924556,477405,2473,1854,2334,5381,...,1484,0,0.0,20291,20183,7999.0,-14910,19129,26475,-7346.0
2,3,buy,1.0,NaN,0.888996,491727,2510,1882,2404,5542,...,1506,0,0.0,20291,19824,8358.0,-14749,19680,26595,-6915.0
3,4,buy,1.0,NaN,0.854804,506479,2547,1910,2476,5709,...,1528,0,0.0,20291,19447,8735.0,-14582,20247,26718,-6471.0
4,5,buy,1.0,NaN,0.821927,521673,2585,1939,2550,5880,...,1551,0,0.0,20291,19054,9128.0,-14411,20832,26843,-6011.0
5,6,buy,1.0,NaN,0.790315,537324,2624,1968,2627,6056,...,1575,0,0.0,20291,18644,9538.0,-14235,21434,26973,-5539.0
6,7,buy,1.0,NaN,0.759918,553443,2664,1998,2706,6238,...,1598,0,0.0,20291,18214,9968.0,-14053,22053,27106,-5053.0
7,8,buy,1.0,NaN,0.730690,570047,2704,2028,2787,6425,...,1622,0,0.0,20291,17766,10416.0,-13866,22691,27240,-4549.0
8,9,buy,1.0,NaN,0.702587,587148,2744,2058,2871,6618,...,1646,0,0.0,20291,17297,10885.0,-13673,23347,27377,-4030.0
9,10,sell,1.0,NaN,0.675564,604762,2785,2089,2957,6816,...,1671,0,12095.0,20291,16807,11375.0,-13475,24023,27517,241308.0
10,11,buy,11.0,NaN,0.649581,622905,2827,2120,3045,7021,...,1696,21882,0.0,27269,16295,21579.0,-20248,24719,56520,-31801.0
11,12,buy,11.0,NaN,0.624597,641592,2869,2152,3137,7231,...,1722,0,0.0,27269,27588,10286.0,-20038,25435,34785,-9350.0
12,13,buy,11.0,NaN,0.600574,660840,2913,2184,3231,7448,...,1748,0,0.0,27269,27125,10749.0,-19821,26173,34936,-8763.0
13,14,buy,11.0,NaN,0.577475,680665,2956,2217,3328,7672,...,1774,0,0.0,27269,26641,11233.0,-19597,26931,35089,-8158.0
14,15,buy,11.0,NaN,0.555265,701085,3001,2250,3428,7902,...,1800,0,0.0,27269,26136,11738.0,-19367,27712,35247,-7535.0
15,16,buy,11.0,NaN,0.533908,722118,3046,2284,3530,8139,...,1827,0,0.0,27269,25608,12266.0,-19130,28516,35407,-6891.0
16,17,buy,11.0,NaN,0.513373,743781,3091,2318,3636,8383,...,1855,0,0.0,27269,25056,12818.0,-18886,29345,35570,-6225.0
17,18,buy,11.0,NaN,0.493628,766095,3138,2353,3745,8635,...,1883,0,0.0,27269,24479,13395.0,-18634,30198,35739,-5541.0
18,19,buy,11.0,NaN,0.474642,789078,3185,2389,3858,8894,...,1911,0,0.0,27269,23876,13998.0,-18375,31075,35912,-4837.0
19,20,buy,11.0,NaN,0.456387,812750,3232,2424,3973,9161,...,1939,0,0.0,27269,23246,14628.0,-18108,31978,36085,-4107.0
20,21,buy,11.0,NaN,0.438834,837133,3281,2461,4093,9435,...,1969,0,0.0,27269,22588,15286.0,-17834,32909,36267,-3358.0
21,22,buy,11.0,NaN,0.421955,862247,3330,2498,4215,9718,...,1998,0,0.0,27269,21900,15974.0,-17551,33867,36450,-2583.0
22,23,buy,11.0,NaN,0.405726,888114,3380,2535,4342,10010,...,2028,0,0.0,27269,21181,16693.0,-17259,34853,36638,-1785.0
23,24,buy,11.0,NaN,0.390121,914757,3431,2573,4472,10310,...,2058,0,0.0,27269,20430,17444.0,-16959,35867,36830,-963.0
24,25,buy,11.0,NaN,0.375117,942200,3482,2612,4606,10620,...,2089,0,0.0,27269,19645,18229.0,-16649,36913,37027,-114.0
25,26,buy,11.0,NaN,0.360689,970466,3535,2651,4745,10938,...,2121,0,0.0,27269,18825,19049.0,-16331,37989,37230,759.0
26,27,buy,11.0,NaN,0.346817,999580,3588,2691,4887,11266,...,2153,0,0.0,27269,17967,19907.0,-16003,39097,37435,1662.0
27,28,buy,11.0,NaN,0.333477,1029567,3641,2731,5033,11604,...,2185,0,0.0,27269,17072,20802.0,-15665,40238,37644,2594.0
28,29,buy,11.0,NaN,0.320651,1060454,3696,2772,5184,11953,...,2218,0,0.0,27269,16136,21738.0,-15316,41412,37861,3551.0
29,30,buy,11.0,NaN,0.308319,1092268,3751,2814,5340,12311,...,2251,0,0.0,27269,15157,22717.0,-14958,42621,38082,4539.0
30,31,buy,11.0,NaN,0.296460,1125036,3808,2856,5500,12680,...,2285,0,0.0,27269,14135,23739.0,-14589,43866,38308,5558.0
31,32,buy,11.0,NaN,0.285058,1158787,3865,2899,5665,13061,...,2319,0,0.0,27269,13067,24807.0,-14208,45148,38539,6609.0
32,33,buy,11.0,NaN,0.274094,1193551,3923,2942,5835,13453,...,2354,0,0.0,27269,11950,25924.0,-13816,46468,38775,7693.0
33,34,buy,11.0,NaN,0.263552,1229357,3982,2986,6010,13856,...,2389,0,0.0,27269,10784,27090.0,-13413,47826,39018,8808.0
34,35,buy,11.0,NaN,0.253415,1266238,4041,3031,6190,14272,...,2425,0,0.0,27269,9565,28309.0,-12997,49225,39265,9960.0
35,36,buy,11.0,NaN,0.243669,1304225,4102,3076,6376,14700,...,2461,0,0.0,27269,8291,29583.0,-12569,50665,39519,11146.0
36,37,buy,11.0,NaN,0.234297,1343352,4163,3123,6567,15141,...,2498,0,0.0,27269,6960,30914.0,-12128,52148,39779,12369.0
37,38,buy,11.0,NaN,0.225285,1383653,4226,3169,6765,15595,...,2536,0,0.0,27269,5569,32305.0,-11674,53676,40045,13631.0
38,39,buy,11.0,NaN,0.216621,1425162,4289,3217,6967,16063,...,2574,0,0.0,27269,4115,33759.0,-11206,55248,40317,14931.0
39,40,buy,11.0,NaN,0.208289,1467917,4354,3265,7176,16545,...,2612,0,0.0,27269,2596,35278.0,-10724,56866,40596,16270.0
40,41,buy,11.0,NaN,0.200278,1511955,4419,3314,7392,17041,...,2651,0,0.0,27269,1008,36866.0,-10228,58533,40882,17651.0
41,42,buy,11.0,NaN,0.192575,1557313,4485,3364,7614,17553,...,2691,0,0.0,0,0,0.0,17553,60249,13906,46343.0
42,43,buy,11.0,NaN,0.185168,1604033,4553,3414,7842,18079,...,2732,0,0.0,0,0,0.0,18079,62017,14205,47812.0
43,44,buy,11.0,NaN,0.178046,1652154,4621,3466,8077,18622,...,2772,0,0.0,0,0,0.0,18622,63836,14512,49324.0
44,45,sell,11.0,NaN,0.171198,1701718,4690,3518,8320,19180,...,2814,0,34034.0,0,0,0.0,19180,65710,14826,1744766.0

In [120]:
df_cashflow_attributed

,year,action,year_last_purchase,year_last_rent_out,discount_rate,house_value_over_years,energy_bills,service_costs,manteinance_cost,renting_out_income,...,rent_expenses,energy_bills_rent,purchase_costs,mortgage_payments,interest_payments,equity_accumulation,cash_flow_renting_out,renting_cashflow,house_purchasing_cashflow,final_cashflow
0,1,rent,0.0,NaN,0.961538,392700,2424,1818,2244,5224,...,17131,1454,0,16854,-0.0,23408.0,-11630,18585,22947,0.0
1,2,buy,2.0,NaN,0.924556,400554,2448,1836,2289,5381,...,17645,1469,8161,17535,17740.0,6614.0,-12154,19114,31868,-12754.0
2,3,rent_out,2.0,3.0,0.888996,408565,2473,1855,2335,5542,...,18174,1484,0,17535,17442.0,6912.0,-15688,19658,23789,-15688.0
3,4,rent_out,2.0,3.0,0.854804,416736,2497,1873,2381,5709,...,18719,1498,0,17535,17131.0,7223.0,-11826,20217,23869,-11826.0
4,5,rent_out,2.0,3.0,0.821927,425071,2522,1892,2429,5880,...,19281,1513,0,17535,16806.0,7548.0,-11655,20794,23953,-11655.0
5,6,rent_out,2.0,3.0,0.790315,433573,2548,1911,2478,6056,...,19859,1529,0,17535,16467.0,7887.0,-11479,21388,24038,-11479.0
6,7,rent_out,2.0,3.0,0.759918,442244,2573,1930,2527,6238,...,20455,1544,0,17535,16112.0,8242.0,-11297,21999,24123,-11297.0
7,8,stop_rent_out,2.0,3.0,0.730690,451089,2599,1949,2578,6425,...,21069,1559,0,17535,15741.0,8613.0,-11110,22628,24210,-1582.0
8,9,stop_rent_out,2.0,3.0,0.702587,460111,2625,1969,2629,6618,...,21701,1575,0,17535,15353.0,9001.0,-10917,23276,24298,-1022.0
9,10,sell,2.0,3.0,0.675564,469313,2651,1988,2682,6816,...,22352,1591,0,17535,14948.0,9406.0,-10719,23943,24387,154342.0
10,11,buy,11.0,3.0,0.649581,478699,2678,2008,2735,7021,...,23023,1607,18499,20956,14525.0,14581.0,-13935,24630,46397,-21767.0
11,12,buy,11.0,3.0,0.624597,488273,2704,2028,2790,7231,...,23713,1623,0,20956,21201.0,7905.0,-13725,25336,27990,-2654.0
12,13,buy,11.0,3.0,0.600574,498039,2731,2049,2846,7448,...,24425,1639,0,20956,20845.0,8261.0,-13508,26064,28084,-2020.0
13,14,buy,11.0,3.0,0.577475,507999,2759,2069,2903,7672,...,25157,1655,0,20956,20474.0,8632.0,-13284,26812,28179,-1367.0
14,15,buy,11.0,3.0,0.555265,518159,2786,2090,2961,7902,...,25912,1672,0,20956,20085.0,9021.0,-13054,27584,28275,-691.0
15,16,buy,11.0,3.0,0.533908,528522,2814,2111,3020,8139,...,26689,1689,0,20956,19679.0,9427.0,-12817,28378,28372,6.0
16,17,buy,11.0,3.0,0.513373,539093,2842,2132,3081,8383,...,27490,1705,0,20956,19255.0,9851.0,-12573,29195,28472,723.0
17,18,buy,11.0,3.0,0.493628,549875,2871,2153,3142,8635,...,28315,1722,0,20956,18812.0,10294.0,-12321,30037,28572,1465.0
18,19,buy,11.0,3.0,0.474642,560872,2899,2175,3205,8894,...,29164,1740,0,20956,18348.0,10758.0,-12062,30904,28674,2230.0
19,20,buy,11.0,3.0,0.456387,572090,2928,2196,3269,9161,...,30039,1757,0,20956,17864.0,11242.0,-11795,31796,28777,3019.0
20,21,buy,11.0,3.0,0.438834,583532,2958,2218,3334,9435,...,30940,1775,0,20956,17358.0,11748.0,-11521,32715,28882,3833.0
21,22,buy,11.0,3.0,0.421955,595202,2987,2240,3401,9718,...,31869,1792,0,20956,16830.0,12276.0,-11238,33661,28989,4672.0
22,23,buy,11.0,3.0,0.405726,607106,3017,2263,3469,10010,...,32825,1810,0,20956,16277.0,12829.0,-10946,34635,29098,5537.0
23,24,buy,11.0,3.0,0.390121,619248,3047,2286,3539,10310,...,33809,1828,0,20956,15700.0,13406.0,-10646,35637,29209,6428.0
24,25,buy,11.0,3.0,0.375117,631633,3078,2308,3609,10620,...,34824,1847,0,20956,15097.0,14009.0,-10336,36671,29319,7352.0
25,26,buy,11.0,3.0,0.360689,644266,3109,2331,3682,10938,...,35868,1865,0,20956,14466.0,14640.0,-10018,37733,29434,8299.0
26,27,buy,11.0,3.0,0.346817,657151,3140,2355,3755,11266,...,36944,1884,0,20956,13808.0,15298.0,-9690,38828,29549,9279.0
27,28,buy,11.0,3.0,0.333477,670294,3171,2378,3830,11604,...,38053,1903,0,20956,13119.0,15987.0,-9352,39956,29665,10291.0
28,29,buy,11.0,3.0,0.320651,683700,3203,2402,3907,11953,...,39194,1922,0,20956,12400.0,16706.0,-9003,41116,29784,11332.0
29,30,buy,11.0,3.0,0.308319,697374,3235,2426,3985,12311,...,40370,1941,0,20956,11648.0,17458.0,-8645,42311,29905,12406.0
30,31,buy,11.0,3.0,0.296460,711322,3267,2450,4065,12680,...,41581,1960,0,20956,10862.0,18244.0,-8276,43541,30027,13514.0
31,32,buy,11.0,3.0,0.285058,725548,3300,2475,4146,13061,...,42829,1980,0,20956,10041.0,19065.0,-7895,44809,30151,14658.0
32,33,buy,11.0,3.0,0.274094,740059,3333,2500,4229,13453,...,44114,2000,0,20956,9183.0,19923.0,-7503,46114,30278,15836.0
33,34,buy,11.0,3.0,0.263552,754860,3366,2525,4313,13856,...,45437,2020,0,20956,8287.0,20819.0,-7100,47457,30405,17052.0
34,35,buy,11.0,3.0,0.253415,769957,3400,2550,4400,14272,...,46800,2040,0,20956,7350.0,21756.0,-6684,48840,30536,18304.0
35,36,buy,11.0,3.0,0.243669,785357,3434,2575,4488,14700,...,48204,2060,0,20956,6371.0,22735.0,-6256,50264,30668,19596.0
36,37,buy,11.0,3.0,0.234297,801064,3468,2601,4578,15141,...,49650,2081,0,20956,5348.0,23758.0,-5815,51731,30802,20929.0
37,38,buy,11.0,3.0,0.225285,817085,3503,2627,4669,15595,...,51140,2102,0,20956,4279.0,24827.0,-5361,53242,30938,22304.0
38,39,buy,11.0,3.0,0.216621,833427,3538,2653,4762,16063,...,52674,2123,0,20956,3162.0,25944.0,-4893,54797,31076,23721.0
39,40,buy,11.0,3.0,0.208289,850095,3573,2680,4858,16545,...,54254,2144,0,20956,1994.0,27112.0,-4411,56398,31217,25181.0
40,41,buy,11.0,3.0,0.200278,867097,3609,2707,4955,17041,...,55882,2165,0,20956,774.0,28332.0,-3915,58047,31360,26687.0
41,42,buy,11.0,3.0,0.192575,884439,3645,2734,5054,17553,...,57558,2187,0,0,0.0,0.0,17553,59745,10549,49196.0
42,43,buy,11.0,3.0,0.185168,902128,3682,2761,5155,18079,...,59285,2209,0,0,0.0,0.0,18079,61494,10696,50798.0
43,44,buy,11.0,3.0,0.178046,920170,3718,2789,5258,18622,...,61064,2231,0,0,0.0,0.0,18622,63295,10845,52450.0
44,45,sell,11.0,3.0,0.171198,938574,3756,2817,5363,19180,...,62896,2253,0,0,0.0,0.0,19180,65149,10997,1010871.0

In [113]:
df_cashflow_attributed[['year', 'final_cashflow']]['final_cashflow'][:3].sum()

-37256.0

In [4]:
transactions = [{'action':'buy', 'year':3}, {'action':'rent_out', 'year':3}, {'action': 'stop_rent_out', 'year':8}, {'action':'sell', 'year': 10}, {'action':'buy', 'year':12}, {'action':'sell', 'year':45}]

df_transactions=pd.DataFrame(transactions)
def extract_last_purchase_year(df,year):
    df=df.copy()
    df_year = df[df['year'] <= year]
    year_last_purchase = df_year[df_year['action'] == 'buy']['year'].max()
    return year_last_purchase


    

df_transactions['year_last_purchase'] = df_transactions['year'].apply(lambda x: extract_last_purchase_year(df_transactions, x))
df_transactions

          action  year  year_last_purchase
0            buy     3                   3
1       rent_out     3                   3
2  stop_rent_out     8                   3
3           sell    10                   3
4            buy    12                  12
5           sell    45                  12

In [5]:
def add_rent_actions_fixed(df):
    # Identifying the 'sell' actions where the next action is 'buy'
    sell_indices = df[df['action'] == 'sell'].index
    buy_indices = df[df['action'] == 'buy'].index

    # Create rows for 'rent' actions
    rent_rows = []
    if df['year'].min() > 1:
        for year in range(1, df['year'].min()):
           rent_rows.append({'action': 'rent', 'year': year, 'year_last_purchase': 0}) 

    for sell_index in sell_indices:
        next_buy_index = buy_indices[buy_indices > sell_index]
        if not next_buy_index.empty:
            start_year = df.at[sell_index, 'year'] + 1
            end_year = df.at[next_buy_index[0], 'year']
            year_last_purchase = df.at[sell_index, 'year_last_purchase']  # Fixed to sell action's year_last_purchase
            for year in range(start_year, end_year):
                rent_rows.append({'action': 'rent', 'year': year, 'year_last_purchase': year_last_purchase})

     

    # Append the new rows and sort
    df = pd.concat([df, pd.DataFrame(rent_rows)], ignore_index=True).sort_values(by='year')

    return df

# Apply the function to the DataFrame
df_updated_fixed = add_rent_actions_fixed(df_transactions)
df_updated_fixed

          action  year  year_last_purchase
6           rent     1                   0
7           rent     2                   0
0            buy     3                   3
1       rent_out     3                   3
2  stop_rent_out     8                   3
3           sell    10                   3
8           rent    11                   3
4            buy    12                  12
5           sell    45                  12

In [6]:
def fill_years_and_ffill(df):
    # Creating a DataFrame with continuous years
    min_year = df['year'].min()
    max_year = df['year'].max()
    all_years = pd.DataFrame({'year': range(min_year, max_year + 1)})

    # Merging the new DataFrame with the original one
    df_filled = pd.merge(all_years, df, on='year', how='left')

    # Forward filling the values
    df_filled = df_filled.ffill()

    return df_filled

# Apply the function to fill years and forward fill the data
df_filled = fill_years_and_ffill(df_updated_fixed)

purchase_years = list(df_filled[df_filled['year_last_purchase'] > 0]['year_last_purchase'].unique())
purchase_years.append(45)

    year         action  year_last_purchase
0      1           rent                 0.0
1      2           rent                 0.0
2      3            buy                 3.0
3      3       rent_out                 3.0
4      4       rent_out                 3.0
5      5       rent_out                 3.0
6      6       rent_out                 3.0
7      7       rent_out                 3.0
8      8  stop_rent_out                 3.0
9      9  stop_rent_out                 3.0
10    10           sell                 3.0
11    11           rent                 3.0
12    12            buy                12.0
13    13            buy                12.0
14    14            buy                12.0
15    15            buy                12.0
16    16            buy                12.0
17    17            buy                12.0
18    18            buy                12.0
19    19            buy                12.0
20    20            buy                12.0
21    21            buy                12.0
22    22            buy                12.0
23    23            buy                12.0
24    24            buy                12.0
25    25            buy                12.0
26    26            buy                12.0
27    27            buy                12.0
28    28            buy                12.0
29    29            buy                12.0
30    30            buy                12.0
31    31            buy                12.0
32    32            buy                12.0
33    33            buy                12.0
34    34            buy                12.0
35    35            buy                12.0
36    36            buy                12.0
37    37            buy                12.0
38    38            buy                12.0
39    39            buy                12.0
40    40            buy                12.0
41    41            buy                12.0
42    42            buy                12.0
43    43            buy                12.0
44    44            buy                12.0
45    45           sell                12.0

In [7]:
test_list=[]

for i in range(len(purchase_years)-1):
    start_year = int(purchase_years[i])
    end_year = int(purchase_years[i+1])
    interst_payments = simulator.calculate_annual_interest(start_year)
    
    test_list +=interst_payments[start_year:end_year]

test_list

2070.139241438378
2474.008023456434

[13087,
 12931,
 12771,
 12605,
 12434,
 12257,
 12075,
 11887,
 11692,
 15640,
 15454,
 15262,
 15064,
 14860,
 14649,
 14431,
 14206,
 13974,
 13734,
 13486,
 13231,
 12967,
 12694,
 12413,
 12123,
 11823,
 11513,
 11194,
 10864,
 10524,
 10172,
 9809,
 9434,
 9047,
 8648,
 8236,
 7810,
 7370,
 0,
 0,
 0,
 0]

In [85]:
range(len(purchase_years)-1)

range(0, 2)

In [ ]:
df_updated_fixed.set_index()

In [49]:
df_transactions['year_last_purchase'] = df_transactions['year'].apply(lambda x: extract_last_purchase_year(df_transactions, x))

In [53]:
df_transactions

          action  year  year_last_purchase
0            buy     1                   1
1       rent_out     3                   1
2  stop_rent_out     8                   1
3           sell    10                   1
4            buy    12                  12
5           sell    45                  12

In [17]:
rent_out_dict={}
purchase_dict={}
selling_dict={}

purchase_dict['first_purchase'] = 3
purchase_dict['second_purchase'] = 10
selling_dict['first_sale'] = 10
selling_dict['second_sale'] = 45
rent_out_dict['begining_first_renting_out'] = 3

simulator.multiple_actions_cash_flow(test_df,purchase_dict, selling_dict, rent_out_dict)[['year', 'timeline']]

    year  timeline
0      1      rent
1      2      rent
2      3  rent_out
3      4  rent_out
4      5  rent_out
5      6  rent_out
6      7  rent_out
7      8  rent_out
8      9  rent_out
9     10  purchase
10    11  purchase
11    12  purchase
12    13  purchase
13    14  purchase
14    15  purchase
15    16  purchase
16    17  purchase
17    18  purchase
18    19  purchase
19    20  purchase
20    21  purchase
21    22  purchase
22    23  purchase
23    24  purchase
24    25  purchase
25    26  purchase
26    27  purchase
27    28  purchase
28    29  purchase
29    30  purchase
30    31  purchase
31    32  purchase
32    33  purchase
33    34  purchase
34    35  purchase
35    36  purchase
36    37  purchase
37    38  purchase
38    39  purchase
39    40  purchase
40    41  purchase
41    42  purchase
42    43  purchase
43    44  purchase
44    45  purchase

In [5]:
def merge_and_label(purchase_dict, selling_dict, renting_out_dict):
    # Merge all dictionaries with appropriate labels
    timeline = [(year, 'purchase') for year in purchase_dict.values()]
    timeline += [(year, 'sell') for year in selling_dict.values()]
    timeline += [(year, 'rent_out') for year in renting_out_dict.values()]

    # Sort the timeline by year
    timeline.sort()

    # Initialize the labeled timeline and set the initial label as 'rent'
    labeled_timeline = []
    current_label = 'rent'

    for i, (year, label) in enumerate(timeline):
        if label == 'purchase':
            if current_label != 'rent':  # End of previous 'rent_out' or 'sell' phase
                labeled_timeline.append((previous_year, year - 1, current_label))
            labeled_timeline.append((year, year, 'purchase'))
            current_label = 'post_purchase'
        elif current_label == 'post_purchase' and (label == 'sell' or label == 'rent_out'):
            # Determine the end year for the 'purchase' phase
            end_year = min(year - 1, min([y for y, l in timeline[i+1:] if l == 'sell' or l == 'rent_out'], default=year - 1))
            labeled_timeline.append((timeline[i-1][0] + 1, end_year, 'purchase'))
            current_label = label
        elif label == 'sell':
            labeled_timeline.append((year, year, 'sell'))
            current_label = 'rent'
        elif label == 'rent_out':
            # Prevent overlapping 'rent_out' periods
            if current_label != 'rent_out':
                current_label = 'rent_out'
                previous_year = year
        else:  # For 'rent' phase
            if current_label != 'rent':
                labeled_timeline.append((previous_year, year - 1, current_label))
                current_label = 'rent'

    # Handle the final phase if it's 'rent_out' or 'sell'
    if current_label != 'rent':
        labeled_timeline.append((previous_year, year, current_label))

    return labeled_timeline

# Example usage
purchase_dict = {'a': 5, 'b': 10}
selling_dict = {'c': 15, 'd': 20}
renting_out_dict = {'e': 12, 'f': 25}

timeline = merge_and_label(purchase_dict, selling_dict, renting_out_dict)
print(timeline)

UnboundLocalError: local variable 'previous_year' referenced before assignment

In [19]:
test_df['renting_out_income_year_values']

KeyError: 'renting_out_income_year_values'